*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Tahoma", sans-serif;
	transition: all 0.3s;
	list-style: none;
}

body
{
	background: #444;
}

@media screen and (min-width: 720px)
{

	#cabecalho
	{}

	#corpoPagina
	{
		position:absolute;

	}
}

@media screen and (min-width: 1280px)
{

	#cabecalho
	{
		position:absolute;
		width:100%;
		height:6%;
		top:0;
		left:0;
		background:#811;
		color:#eee;
		z-index:9;
	}

	#nomeSite
	{
		position:absolute;
		font-size:2rem;
		padding:0.2%;
		top:8%;
		left:5%;
	}

	#nomeSite:hover
	{
		background:#622;
		color:#fff;
		cursor:pointer;
	}

	#menu
	{
		position:absolute;
		width:100%;
		bottom:0;
		left:0;
		text-align:center;
		cursor:default;
	}

	#menu li
	{
		padding:0.1% 0.2% 0.1% 0.2%;
		display:inline-block;
	}

	#menu li:hover
	{
		background:#711;
		color:#fff;
		box-shadow:1px 1px 4px 0px #333;
		cursor:pointer;
	}

	#login
	{
		position:absolute;
		top:30%;
		right:5%;
		cursor:default;
	}

	#login span:hover
	{
		background:#611;
		color:#fff;
		cursor:pointer;
		box-shadow: 0 0 10px #333;
	}

	#fzrLogin
	{
		position:absolute;
		background:#822;
		padding-right:10%;
		padding-left:10%;
		margin-top:15%;
		height:auto;
		max-height:0;
		overflow:hidden;
	}

	#fzrLogin input, #fzrLogin button
	{
		padding:2%;
		border:none;
	}

	#fzrLogin button
	{
		background:#eee;
	}

	#fzrLogin button:hover,#fzrLogin button:focus
	{
		background:#595;
		color:#fff;
		cursor:pointer;
	}

	#corpoPagina
	{
		position:absolute;
		width:70%;
		height:100%;
		top:0;
		left:15%;
		background:#eee;
		z-index:6;
	}

	.txtCorpo
	{
		position:absolute;
		width:100%;
		color:#333;
		text-align:center;
	}

	.fechar1
	{
		position:absolute;
		right:0;
		padding:0 0.5% 0 0.5%;
	}

	.fechar1:hover
	{
		background:#500;
		color:#fff;
		cursor:pointer;
	}
}