*
{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family:sans-serif;
  transition: all 0.3s;
  color:#47f;
}

a, a:visited
{
  text-decoration:none;
  color:#f74;
}

a:hover,a:focus
{
  color:#ff4;
}

body
{
  background:#222;
}

#corpoJogo
{
  background:#333;
  position:absolute;
  width:60%;
  padding:0 0 1rem 0;
  top:0;
  left:20%;
  text-align:center;
}

#resultado span
{
  color:#dd4;
  font-weight: bold;
}

#fimJogo
{
  position:absolute;
  width:100%;
  left:0;
  text-align:center;
}

.imgPequena
{
  height:15rem;
  padding: 0.5rem;
}

.imgMedia
{
  height:25rem;
  padding:1rem;
}

.imgGrande
{
  height:35rem;
  padding:1.5rem;
}

.texto
{
  text-align:left;
  padding:1rem;
}

#escolhas
{
  /*position:absolute;*/
  width:100%;
  padding: 1rem 1rem 0.5rem 1rem;
/*   bottom:0; */
  text-align:left;
}